html{
    font-size: 20px;
}
body{
    
    font-family: 'Didact Gothic', sans-serif;
    word-spacing: 0.2rem;
    letter-spacing: .1rem;
    font-size: 0.8rem;
}
#wheater-icon{
    width: 6.4rem;
    height: 6.4rem;
    float: right;
}
#wheater-status{
    float: left;
}
#wheater-card{
    font-weight: bold;
    margin-top: 1rem;
}
#navbar-id{
    
    justify-content: center;
    height: 5rem;
}
#loading{
    text-align: center;
    display: none;
}
#container{
    justify-content: center;
}
#fore-ico{
    width: fit-content;
    height: fit-content;
}
.wheater-ico-fore{
    text-align: center;
}
#fore-row{
    font-size: 0.6rem ;
}
@media screen and (max-width: 745px) {
    #wheater-icon{
        width: 6.4rem;
        height: 6.4rem;
        float:left;
    }
  }